{{extend 'portioncatlayout.html'}}
<head>
    <link rel="stylesheet" href="{{=URL('static','css/background.css')}}"/>
</head>

<center>
    <p class="logo" style="margin: 25px 0;">About Us</p>
	

    <table style="max-width: 400px;">
        <tr>
            <td>
                <center><img class="img-circle" src="/portioncat/static/images/joce.jpg" width="100"></center>
                
                <h3><center><b>Jocelynne Gonzales</b></center></h3>
                <p class="about-us">
                    Prior to building PortionCat, Jocelynne spent years searching for an easy method to track her cat's food intake.  She is currently working towards her master's degree in computer science at DePaul University in her home city Chicago, Illinois.
                </p><center>
				<a href="https://github.com/go-joce/"><img src="{{=URL('static', 'images/github.png')}}"></a></center>
            </td>
        </tr>
    </table>
    <br>
    <table style="max-width: 400px;">
        <tr>
            <td>
                <!-- Upload a picture of yourself named "christian.jpg", also edit your bio -->
                <center><img class="img-circle" src="{{=URL('static', 'images/christian.png')}}" width="100"> </center>
                <h3><b><center>Christian Loera</center></b></h3>
                <p class="about-us">
                    Christian is a computer science master's student at Depaul University with prior web development experience. He hopes to utilize his web development experience to make the lives of cat owners a little easier.
                </p><center><a class="about" href="http://cloera.com">http://cloera.com</a><br>
				<a href="https://github.com/cloera"><img src="{{=URL('static', 'images/github.png')}}"></a></center>
				
            </td>
        </tr>
    </table>
	<br>
	<br>
	<p>Splash artwork by <a class="about" href="http://jennaviva.tumblr.com/">JennaViva</a></p><br>
</center>
