
<!-- This is where the user inputs information about their cat, which gets loaded into db.cats -->

{{extend 'portioncatlayout.html'}}

<head>
    <link rel="stylesheet" href="portioncat.css">
</head>

<center><table border="0" style="font-size: 17px; font-weight: normal; font-family: Helvetica" height="400">
    <tr>

<br>
    <p class="logo">Portion<font color="#07A5AC">Cat</font></p><br>

    <td>
	<p>We recommend that you first consult with your veterinarian to find out the ideal weight for your cat.<br>
    
    <br>
    {{=form.custom.begin}}
        What is your cat's name?
        <div>{{=form.custom.widget.name}}</div>
        <br>
        How much should your cat weigh?
    <div>{{=form.custom.widget.weight}}</div>
    <br>
        Do you prefer to feed wet or dry food?
    <div>{{=form.custom.widget.pref_food}}</div>
    <br>
        Finally, upload a photo of your cat!
    <div>{{=form.custom.widget.picture}}</div>
    <br>
        <center>{{=form.custom.submit}}</center>
    {{=form.custom.end}}
        <br>
        {{pass}}
    </td>
	</p>
    </tr>
    </table>

</center>
