{{extend 'portioncatlayout.html'}}
<!-- The table border is just here so we can see where the table lies. -->
<head>
    <link rel="stylesheet" href="{{=URL('static','css/background.css')}}"/>
</head>
<BR>
<center><table class="profile">
<td><center>
{{for cat in thiscat:}}
    <p class="logo">{{=cat.name}}</p>
         <p>
             
    A healthy and active cat requires about 30 calories per pound per day.<BR>
    Because {{=cat.name}} weighs <b>{{=cat.weight}}</b> lbs, {{=cat.name}} needs to consume <b>{{=cat.weight*30}}</b> calories per day   
             </p>
<p>
    <img src="{{=URL('default', 'download', args=cat.picture)}}" height="400" /><BR>
<p>
    

    {{for p in portion:}}
    {{if cat.pref_food == "wet":}}
    
    
<div id="header">Since you feed {{=cat.pref_food}} food, your cat requires <b>{{=p.wet}}</b> ounces of {{=cat.pref_food}} food per day.</div>
    <p>That's <b>{{=p.wet/2}}</b> ounces per meal, if you feed your cat two meals a day.</p>
    {{else:}}
    <div id="header">Since you feed {{=cat.pref_food}} food, your cat requires {{=p.dry}} cups of {{=cat.pref_food}} food per day.</div>
    <p>That's <b>{{=p.dry/2}}</b> cups per meal, if you feed your cat two meals a day.</p>
    {{pass}}
    {{pass}}
    </p>
    <BR></td>
        </table><BR><BR>
<a href="{{=URL('mycat')}}"><button class="button">Go Back</button></a> 
<a href="{{=URL('deleteCat', args=[cat.name])}}"><button class="button">Remove This Cat</button></a>

    {{pass}}

</p>
    </table>

</center>
