{{extend 'portioncatlayout.html'}}
<!-- The table border is just here so we can see where the table lies. -->
<head>
    <link rel="stylesheet" href="portioncat.css">
</head>

<center><table border="0" style="font-size: 17px; font-weight: normal; font-family: Helvetica" height="400">
    <tr>


        <h1><b><font color="#008080">Portion</font>Cat</b></h1>
<p><BR><BR>
    
    <td>We recommend that you first consult with your veterinarian to find out the ideal weight for your cat.<BR>
        </p>
        <br>
    {{=form.custom.begin}}
        What is your cat's name?
        <div>{{=form.custom.widget.name}}</div>
        <br>

        How much should your cat weigh?
    <div>{{=form.custom.widget.weight}}</div>
        
                <br>
        Do you prefer to feed wet or dry food?
    <div>{{=form.custom.widget.food_type}}</div>
        
                        <br>
        Finally, upload a photo of your cat!
    <div>{{=form.custom.widget.picture}}</div>
    <BR>
        <center>
            {{=form.custom.submit}}</center>
    {{=form.custom.end}}
        <BR>
        {{pass}}
    </td>
</p>

    </tr>
    </table>

<p style="font-size:10px">
<br> © 2016 PORTIONCAT ALL RIGHTS RESERVED
</p></center>
