
<!-- This page contains links to register, take a tour or login 
	 The navigation bar up above allows the user to easily navigate the application.  -->

{{extend 'portioncatlayout.html'}}

<head>
    <link rel="stylesheet" href="{{=URL('static','css/background.css')}}"/>
</head>

<center><br>
    <p class="logo">Portion<font color="#07A5AC">Cat</font></p>
	
    <h2>Get recommendations on how much to feed your feline friend.</h2>
	
	<div class="image_resize"><img src="/portioncat/static/images/indexheader.png" width="600px" /></div>
	<br>

    <p>
        PortionCat is an app meant to give you guidance on your cat's daily portion requirements.
		<br>  Sign up for an account today, or take a look at our features.
    </p>
	
	<br>
	
	<a href="{{=URL('user/register',scheme=True)}}"><button class="button">Sign up!</button></a>

<a href="tour"><button class="button">Take a tour</button></a>

<a href="{{=URL('user',scheme=True, args=['login'])}}"><button class="button">Log In</button></a>
<br><br>
<p class="notice">Attention:  PortionCat is in pre-alpha phase, features are still being tinkered with and tested.  
<br>Databases may be wiped without notice.  Thanks for your support!</p>
</center>
