{{extend 'portioncatlayout.html'}}
<!-- This page displays a list of cats added by the user into the db.cats database.  Images are links to the cats.  -->
<head>
    <link rel="stylesheet" href="{{=URL('static','css/background.css')}}"/>
</head>

<center><table>
<tr>
    <p class="logo">your cats</p>
	
	<p>We recommend that you first consult with your veterinarian to find out the ideal weight for your cat.<br>
	Pick a cat to view their dietary needs.</p>
    </tr>
	
	
    
	
	<tr><td>
	{{for cat in mycats:}}
     <h3 class="cats"><b><center>{{=BEAUTIFY(cat.name)}}</b></h3>
	<a href="{{=URL('catprofile', args=[cat.name])}}">
	<p>
    
    
    <img src="{{=URL('default', 'download', args=cat.picture)}}" height="200" /></a><br> 
	<center>{{=cat.weight}} lbs<br><br></center></p> 
        {{pass}}<BR>
    </td>
	</tr>
	
	
    </table>
	<br><br>
    <a href="{{=URL('addcat')}}"><button class="button">Add a new cat</button></a> 
	<br><br>
        <!-- If there are no cats added to the database, there will be nothing displayed, you must add a cat.  -->
       
</center>
