{{extend 'portioncatlayout.html'}}
<p class="scheduler" style="margin: 25px 0;">Schedule daily text message reminders to feed your cat.</p></h1><br>
<p>Please input the time of day that you want to be reminded to feed your cats in 24-hour format.  (hh:mm:ss)</p>

{{=schedule}}
