{{extend 'portioncatlayout.html'}}
<head>
    <link rel="stylesheet" href="{{=URL('static','css/background.css')}}"/>
</head>

<center>
<p class="logo" style="margin: 25px 0;">Features</p>
    <table style="width: 70%;"><tr><td>
    <center>
	<p>Register for an account using your e-mail address.  Adding your phone number is optional, 
	but it will allow you to receive SMS alerts.</p>
<img class="img-tour" src="/portioncat/static/images/shot1.PNG"><br>
<br> <br><p><b>Add your cat's information.</b>  <br>Our portion formulas are based on your cat's ideal weight and the type of food your cat eats.</p><br>
	<img class="img-tour" src="/portioncat/static/images/shot2.PNG"><br><br><br>
	<p><b>View a list of your cats</b><br>  This way you can track the food intake for your whole family.<br></p>
	<img class="img-tour" src="/portioncat/static/images/shot3.PNG"><br><br><br>
		<p><b>Select a cat to see their requirements.</b><br>  You'll also be able to see how much you need to feed your cat twice a day.<br></p>
	<img class="img-tour" src="/portioncat/static/images/shot4.PNG"><br><br><br>
			<p><b>Food type matters.</b><br>  If your cat eats dry food, the formulas will be different.<br></p>
	<img class="img-tour" src="/portioncat/static/images/shot5.PNG"><br><br><br>
			<p><b>Receive scheduled reminders.</b><br>  A feature that's still being tweaked, receive SMS reminders to feed your cat.<br></p>
	<img class="img-tour" src="/portioncat/static/images/shot6.PNG">
	</tr></td></table>