{{extend 'portioncatlayout.html'}}
<center><h2>Schedule daily text message reminders to feed your cat.</h2><br>
<p>Please input the time of day that you want to be reminded to feed your cats in 24-hour format.  (hh:mm:ss)</p></center><br>
{{=schedule}}

<table>
    <thead>
        <tr>
            <th>
                 Feeding times
            </th>
            <th>
                  Has cat been fed for the day?
            </th>
        </tr>
    </thead>
    <tbody>
        {{for r in row:}}
        <tr>
            <td>
                {{=r.feeding_time}}
            </td>
            <td>
                {{if r.fed_cat == True:}}
                    Yes
                {{else:}}
                    No
                {{pass}}
            </td>
            <td>
                <a href="{{=URL('deleteSchedule', args=[r.id])}}"><button class="button">Delete</button></a>
            </td>
        </tr>
        {{pass}}
    </tbody>
</table>


{{block page_js}}
<script>
    jQuery("#web2py_user_form input:visible:enabled:first").focus();
    jQuery('#schedules_fed_cat__row').hide();
    jQuery('#schedules_scheduler_ref__row').hide();
</script>
{{end page_js}}
