div.A {
    background-repeat: no-repeat;
    float:left;
    background-position: right top;
    background-attachment: fixed;
    background-color: #01858A;
}
.wide { min-width: 100%; display: inline-block; background-color: white; }
#container { display: inline-block; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none; color: #FFFFFF;
}

a.about:link, a.about:visited, a.about:hover, a.about:active {
  text-decoration: none; color: #07A5AC;
      font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}	


.img-circle {
    border-radius: 50%;
    max-width: 100px;
}
.img-tour {
    border: 5px solid #fff;
    width:100%;
    max-width:400px;
}
p {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}
p.small {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}
p.about-us {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    text-align: center;
}
p.notice {
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    text-align: center;
}
p.logo {
    font-family: 'Lobster', cursive;
    font-size: 80px;
    line-height: 95%;
}
p.scheduler {
    font-family: 'Lobster', cursive;
    font-size: 80px;
    line-height: 95%;
}
body {
    background-color: #f2f2f2;
}
.special-table {
    border-radius: 25px;
    padding: 20px;
    background-color: #fff;
    padding-right: 20px;
    padding-left: 20px
    padding-top: 10px
    width: 30%;
}
img {
    border: 0px solid #ddd;
}


.image_resize img {
        width: 100%;
  max-width: 750px;
    }
#plain {
    border: 0px;
}

#logoindex{
    font-family: 'Lobster', cursive;
    font-size: 30px;
}
 td {
    border-radius: 25px;
    padding: 20px;
    background-color: #fff;
    padding-right: 10px;
    padding-left: 10px;
}
h3.cats {
    color:#07A5AC;
    font-family: 'PT Sans', sans-serif;
}
h1 {
    color:#07A5AC;
    font-family: 'PT Sans', sans-serif;
}
h2 {
    color:#07A5AC;
    font-family: 'PT Sans', sans-serif;
}
.button {
    background-color: #07A5AC; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover {
    background-color: #005256; /* Green */
    color: #2FAAB0;
}
#header {
    background-color:#07A5AC;
    color:white;
    text-align:center;
    padding:5px;
    font-family: 'PT Sans', sans-serif;
        font-size: 18px;
}
